{% extends "noregbod.html" %}
{% block ext %}
    <title>О проекте</title>
        <style>
            .input_form {
                background-color:#ffffff;
	            border-radius:25px;
                border:2px solid #dcdcdc;
                color:#121212;
                font-family:Trebuchet MS;
                font-size:35px;
            }
            .button_reg {
                background-color:#ffffff;
                border-radius:25px;
                border:2px solid #dcdcdc;
                color:#121212;
                font-family:Trebuchet MS;
                font-size:30px;
            }

            .reg {
                position:relative;
                top: 20%;
            }
        </style>
  <div class="reg" align="center">
      <form method="post">
          <h1>ProgressFlow</h1>

      </form>
  </div>

{% endblock %}