{% extends "regbod.html" %}
{% block body %}
    <title>Регистрация</title>
        <style>
            .input_form {
                background-color:#ffffff;
	            border-radius:25px;
                border:2px solid #dcdcdc;
                color:#121212;
                font-family:Trebuchet MS;
                font-size:35px;
            }
            .button_reg {
                background-color:#ffffff;
                border-radius:25px;
                border:2px solid #dcdcdc;
                color:#121212;
                font-family:Trebuchet MS;
                font-size:30px;
            }

            .reg {
                position:relative;
                top: 20%;
            }
        </style>
  <div class="reg" align="center">
      <form method="post">
          <h1>Регистрация</h1>
            <ul><input type="text" placeholder="Название компании" name="name_of_company" id="name_of_company" class="input_form"></ul>
             <ul><input type="text" placeholder="Информация о компании" name="info_about_company" id="info_about_company" class="input_form"></ul>
              <ul><button type="submit" class="button_reg">Зарегистрировать</button></ul>
      </form>
  </div>

{% block ext %} {% endblock %}
{% endblock %}