<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
    <br>email: {{ data.email }}</br>
    <br>username: {{ data.username }}</br>
    <br>password: {{ data.password }}</br>
    <br>created date: {{ data.created_date }}</br>
    <br>admin: {{ data.admin }}</br>
    <br>related company: {{ data.related_company }}</br>
    <br>position at work: {{ data.position_at_work }}</br>
    <br>id of works on the project: {{ data.id_of_works_on_the_project }}</br>
    <br>task at work: {{ data.task_at_work }}</br>
</br>
</body>
</html>